<!DOCTYPE html>
<html lang="en-us">
  {% include head.html %}
  <body>
    <section class="page-header">
      <h1 class="project-name">Spark Workshop</h1>
      <h2 class="project-tagline">brought to you by <a href="http://www.meetup.com/Make-on-the-Lake/">Make on the Lake<a></h2>
      <a href="https://github.com/make-on-the-lake/spark-workshop" class="btn">View on GitHub</a>
    </section>

    <section class="main-content">
      {{ content }}
      {% include footer.html %}
    </section>

    {% include gaq.html %}
  </body>
</html>

